/*Alinhando os parâmetros dos breakpoints do projeto aos parâmetros dos breakpoints do bootstrap*/
$breakpoints: (
    'xs': 0px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px,
    'custom-sm': 480px,
    /* Custom breakpoint for max-width: 480px */
    'custom-xs': 320px
    /* Custom breakpoint for max-width: 320px */
);

@function breakpoint($key) {
    @return map-get($breakpoints, $key);
}

/*------------------------------------------------------*/
/* Ajuste para dispositivos pequenos (mobile) */
@media (max-width: #{breakpoint('sm')}) {
    #intro-screen {
        border: 2px solid red;
        padding: 0 15px;
    }

    #intro-text {
        font-size: 1.5rem;
    }

    /* Aumenta ainda mais o espaço quando o menu está expandido em mobile */
    section {
        scroll-margin-top: 70px;
        padding-top: 3rem;
    }

    /* Quando o menu hamburguer está expandido, precisamos de mais espaço */
    body.menu-expanded section {
        scroll-margin-top: 280px;
        /* Valor aproximado, ajuste conforme a altura do seu menu expandido */
    }
}

/* Tablets (de 768px até 991px) */
@media (min-width: #{breakpoint('md')}) {
    .myPhoto img {
        width: 80px;
        height: 80px;
    }

    .navbar-brand {
        font-size: 1.5rem;
        /* 20px, um pouco maior que em mobile */
    }

    #intro-text {
        font-size: 1.8rem;
    }

    section {
        scroll-margin-top: 65px;
        padding-top: 2.5rem;
    }

    #logo {
        width: min(15em, 45vmin);
    }

    .container.text-center h1 {
        font-size: 2rem;
    }

    .container.text-center .lead {
        font-size: 1.1rem;
    }

    .container.text-center .btn-lg {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

/* Desktops (a partir de 992px) */
@media (min-width: #{breakpoint('lg')}) {
    .myPhoto img {
        width: 100px;
        height: 100px;
    }

    .navbar-brand {
        font-size: 2.5rem;
        /* 24px, maior em desktops, mas não exagerado */
    }
}

@media (max-width: #{breakpoint('custom-sm')}) {
    #logo {
        /*width: min(12em, 50vmin);*/
        width: min(16em, 70vmin);
    }

    .container.text-center h1 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem !important;
        /* Reduz o espaço inferior */
    }

    .container.text-center .lead {
        font-size: 0.95rem;
        margin-bottom: 1rem !important;
        /* Reduz o espaço inferior */
    }

    .container.text-center .btn-lg {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}

/* Dispositivos muito pequenos */
@media (max-width: #{breakpoint('custom-xs')}) {
    .container.text-center h1 {
        font-size: 1.25rem;
    }

    .container.text-center .lead {
        font-size: 0.85rem;
    }
}