/* Estilo para os cards de certificados */
.certificate-card {
    transition: all 0.3s ease;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

}



.certificate-preview {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f8f9fa;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate-thumbnail {
    transition: all 0.5s ease;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.certificate-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;
}

.certificate-preview:hover .certificate-overlay {
    opacity: 1;
}