:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --sombra-color: rgba(44, 62, 80, 0.4);
    --highlight-color: #e67e22;
    --highlight1-color: #f39c12;
    --branco-color: #fff;
}