/* Aumenta a especificidade para o elemento #home */
section#home.hero {
    /* Remove o padding-top para a seção hero, já que ela deve ocupar 100vh */
    padding-top: 0;
    /* Ajusta a altura para compensar o padding-top do body */
    height: calc(100vh - 56px);
    /* Posiciona abaixo da navbar */
    margin-top: 0;
}



.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Estilo base para desktop */
.container.text-center h1 {
    font-size: 2.5rem;
    /* Tamanho base para desktop */
    line-height: 1.2;
}



.container.text-center .lead {
    font-size: 1.25rem;
    /* Tamanho base para desktop */
    line-height: 1.5;
}

.text-highlight {
    color: var(--highlight1-color);
    text-shadow: var(--sombra-color);
}